@font-face {
	font-family: mui-global-iconfont;
	src: url(../font/font_1401963178_8135476.eot);
	src: url(../font/font_1401963178_8135476.eot?#iefix) format('embedded-opentype'), url(../font/font_1401963178_8135476.woff) format('woff'), url(../font/font_1401963178_8135476.ttf) format('truetype'), url(../font/font_1401963178_8135476.svg#iconfont) format('svg')
}

.mui-global-iconfont {
	font-family: mui-global-iconfont!important;
	font-size: 12px;
	color: #c40000;
	font-style: normal
}