@font-face {
	font-family: iconfont;
	src: url(../font/font_1451959379_8626566.eot);
	src: url(../font/font_1451959379_8626566.eot?#iefix) format('embedded-opentype'), url(../font/font_1451959379_8626566.woff) format('woff'), url(../font/font_1451959379_8626566.ttf) format('truetype'), url(../font/font_1451959379_8626566.svg#iconfont) format('svg')
}

.iconfont {
	font-family: iconfont!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}