@import 'public';
html,body{
	background: white;
}
.headerwrap {
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0px;
    top: 0px;
}
.header {
	i{
        	margin-right: 4px;
        }
    height: 30px;
    width: 1190px;
    margin: 0 auto;
    .indexhtml{
    	float: left;
    	margin-right: 20px;
    	line-height: 30px;
    	color: #999999;
    	
    }
    p {
        float: left;
        line-height: 30px;
        color: #999999;
        font-size: 12px;
        a {
            margin-left: 20px;
            color: #999999;
            font-size: 12px;
        }
        
        
    }
    a:hover{
        color: #c40000;
        span{
          color: #c40000; 
        }
    }
}

.navlist {
    line-height: 30px;
    float: right;
    li {
        float: left;
        height: 30px;
        color: #999999;
        a {
            padding: 0px 15px;
            color: #999999;
        }
        .shang {
            display: inline-block;
            margin-left: 4px;
            border-right: 2.4px solid transparent;
            border-left: 2.4px solid transparent;
            border-top: 2.4px solid #999999;
            border-bottom: 2.4px solid transparent;
        }
        .xia {
            display: inline-block;
            margin-left: 4px;
            margin-bottom: 4px;
            border-right: 2.4px solid transparent;
            border-left: 2.4px solid transparent;
            border-top: 2.4px solid transparent;
            border-bottom: 2.4px solid #999999;
        }
    }
    .detailcart {
        span{
            color: #3C3C3C;
        }
      a:hover{
         color: #c40000;
          span{
            color: #c40000; 
          }
      }
    }
    .bg4 {
        span {
            padding: 0 15px 0px 0px;
        }
    }
}

.headercontent{
	padding-top: 30px;
	height: 115px;
	.logowrap{
		width: 1190px;
		height: 115px;
		margin: 0 auto;
		h1{
			float: left;
			width: 162px;
			height: 64px;
			a{
				display: block;
				width: 162px;
				height: 44px;
				padding-top: 20px;
				padding-right: 7px;
				background: url(../styleimg/detailslogo.png) no-repeat 0px 26px;
				background-size:145px auto ;
			}
		}
		.logoww{
			padding: 15px 0px 0px 0px;
			float: left;
			width: 284px;
			height: 65px;
			img{
			    width: 284px;
                height: 65px;
			}
		}
		.logoseach{
			float: right;
			width: 670px;
			height: 70px;
			.seach{
			     width: 540px; 
			     float: left;
                 min-height: 36px;
                 _height:36px;
			    margin-top: 15px;
			    div{
			        float: left;
			        height: 36px;
			        width: 447px;
			        border: 2px solid #c40000;  
			    }     
			         #xqseach{
			             outline: none;
                         float: left;
                         width: 359px;
                         height: 26px;
                         border: 0;
                         padding: 5px 3px 5px 5px;
                     }
                     button{
                         outline: none;
                         float: left;
                         width: 80px;
                        height: 36px;
                        border: 0;
                        font-size: 16px;
                        background:#c40000 ;
                     }
                     a{
                         float: right;
                        background: #331;
                        width: 80px;
                        height: 36px;
                        border: 2px solid #331; 
                        font-size: 16px;
                        letter-spacing: 0;
                        cursor: pointer;
                        color: #fff;
                        line-height: 36px;
                        text-align: center;
                     }
			     
			}
			ul{
			    width: 540px;
			    height: 19px;
			    li{
			        float: left;
			        border-left: 1px solid #ccc;
                    line-height: 1.1;
                    padding: 5px 12px;
                    a{
                            color: #999;
                    }
			    }
			}
		}
	
	}
	
}
.banner{
	img{
		display: block;
		width: 100%;
	}
}
#detail{
	margin: 20px auto;
	width: 990px;
	padding-right: 200px;
	position: relative;
	.detail_right{
	    width: 200px;
	    height: 600px;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    overflow: hidden;
	    div{
	       width: 200px;
             height: 1800px; 
             position: absolute; 
             left: 0px;
             top: 0px;
	    }
	    img{
	        width: 200px;
	    }
	}
	.detail_fdj{
	    width: 990px;
	    position: relative;
	    z-index: 100;
	    min-height: 950px;
	    _height:950px;
	    .fdj_left{
	        width: 460px;
	        float: left;
	        position: relative;
	        
	        .left_top{
	            width: 420px;
	            height: 420px;
	            margin: 0px 20px;
	            position: relative;
	            img{
	                position: absolute;
	                left: 0px;
	                top: 0px;
	                opacity: 0;
	            }
	            .mask{
	                background: pink;
	                opacity: .6;
	                position: absolute;
	                left: 0px;
	                top: 0px;
	            }
	        }
	        .left_bott{
	            a{
	                display: block;
	                box-sizing: border-box;
	                width: 60px;
	                height: 60px;
	            }
	            ul{
	                margin-left: 16px;
	            }
	            li{
	                float: left;
	                margin-left: 16px;
	                padding-top:22px ;
	                img{
	                    width: 56px;
	                    height: 56px;
	                    display: block;
	                }
	            }
	        }
	        .fdjdetail{
	            width: 430px;
	            height: 430px;
	            position: absolute;
	            left: 460px;
	            top: 0px;
	            z-index: 22;
	            overflow: hidden;
	            border: 1px solid #999999;
	            display: none;
	            img{
	                position: absolute;
	                top: 0px;
	                left: 0px;
	                opacity: 0;
	            }
	        }
	    }
	    
	    .fdj_right{
	        width: 530px;
	        float: left;
	        .right_top{
	            width: 530px;
	            padding: 20px 10px 12px;
	            .top_title{
	                a{
	                    padding-bottom: .2em;
                        line-height: 1;
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
	                }
	            }
	            .top_change{
	                a{
	                    font-size: 14px;
                        color: #dd2727;
	                }
	            }
	        }
	        
	        .right_middle{
	            width: 510px;
	            padding: 5px 0px;
	            background: #e9e9e9;
	            margin:0px 20px 0px 10px;
	            .mid_pannel{
	                height: 35px;
	                line-height: 35px;
	                color: #999;
                    margin: 0 10px 0 8px;
                    img{
                        float: left;
                        width: 58px;
                        height: 16px;
                        display: inline-block;
                        margin: 10px 5px 0 0;
                    }
                    a{
                        
                        float: right;
                        padding-right: 60px;
                        background: url(../styleimg/gwcjt.png) no-repeat 49px center;
                        color: #dd2727;
                    }
                    
	            }
	            .gwcprice{
	                padding-left: 70px;
	                position: relative;
	                overflow: hidden;
	                dt{
	                    position: absolute;
	                    left: 10px;
	                    top: 0px;
	                    color: #999;
	                }
	                em{
	                    float: left;
	                }
	                dd{
	                    float: left;
	                    font-size: 14px;
	                    color: black;
	                    text-decoration: line-through;
	                }
	            }
	            .gwcprice1{
                    padding-left: 70px;
                    position: relative;
                    overflow: hidden;
                    dt{
                        position: absolute;
                        left: 10px;
                        top: 0px;
                        color: #999;
                        line-height: 30px;
                    }
                    dd,em{
                        float: left;
                        font-size: 30px;
                        color: #c40000;
                        font-weight: bolder;
                    }
                }
	        }
	        
	        .ship_price{
	            width: 510px;
	            margin: 5px 20px 5px 10px;
	            overflow: hidden;
	            .shipleft{
	                float: left;
	                line-height: 30px;
	                margin-left: 10px;
	                color: #999;
	            }
	            .shipright{
	                float: right;
	                width: 440px;
	                padding: 9px 0px;
	            }
	        }
	        .shipnum{
	            width: 510px;
                margin: 5px 20px 5px 10px;
                ul{
                    width: 510px;
                    height: 16px; 
                    padding: 10px 0px;
                     border:1px solid #dddddd;
                    border-width: 1px 0px 1px 0px;
                   .num{
                       color: #c40000;
                       margin-left: 4px;
                       font-weight: 700;
                   }
                    li{
                        float: left;
                        div{
                            width: 169.2px;
                            height: 16px;
                            text-align: center;
                        }
                    }
                }
	        }
	        .shipcolor{
                margin: 0 20px 24px 10px;
                .shipwrap{
                    padding: 10px 0;
                    .ship_color{
                        padding: 5px 0 12px;
                        position: relative;
                        .color{
                            padding-bottom: 6px;
                            overflow: hidden;
                            dd{
                                li{
                                    line-height: 28px;
                                    float: left;
                                    position: relative;
                                    margin: 0 4px 4px 0;
                                    line-height: 20px;
                                    vertical-align: middle;
                                    padding: 1px;
                                    border: 1px solid #dddddd;
                                    a{
                                        color: #666666;
                                        padding: 0 5px;
                                        width: auto!important;
                                        height: 38px;
                                        line-height: 38px;
                                    }
                                }
                            }
                            dt{
                               text-align: left;
                                float: left;
                                width: 66px;
                                line-height: 38px;
                                color: #838383; 
                            }
                        }
                        .tc{
                            padding-bottom: 6px;
                            overflow: hidden;
                            dt{
                                margin-top: 6px;
                               text-align: left;
                                float: left;
                                width: 66px;
                                line-height: 38px;
                                color: #838383; 
                            }
                             dd{
                                 width: 420px;
                                 float: left;
                                 overflow: hidden;
                                 margin-top:6px ;
                                li{
                                    line-height: 28px;
                                    float: left;
                                    position: relative;
                                    margin: 0 4px 4px 0;
                                    vertical-align: middle;
                                    padding: 1px;
                                    border: 1px solid #dddddd;
                                    a{
                                        color: #000;
                                        min-width: 10px;
                                        padding: 0 9px;
                                        text-align: center;
                                        width: auto!important;
                                    }
                                }
                            }
                        }
                        .gwcnum{
                            padding-bottom: 6px;
                            overflow: hidden;
                           dt{
                                margin-top: 6px;
                               text-align: left;
                                float: left;
                                width: 66px;
                                color: #838383; 
                            } 
                            dd{
                                margin-top: 6px;
                                float: left;
                                width: 420px;
                                height: 35px;
                                input{
                                    
                                    float: left;
                                    height: 26px;
                                    border: 1px solid #a7a6ac;
                                    width: 36px;
                                    padding: 3px 2px 0 3px;
                                    line-height: 26px;
                                    color: #666;
                                }
                                .shang_xia{
                                    height: 35px;
                                    line-height: 31px;
                                    color: #878787;
                                    float: left;
                                    margin-left: 5px;
                                    .shang{
                                        margin-bottom: 3px;
                                    }
                                }
                                .unit{
                                    height: 26px;
                                    padding: 3px 2px 0 10px;
                                    line-height: 26px;
                                    color: #666;
                                }
                            }
                        }
                        .huabfq{
                            padding-bottom: 6px;
                            height: 160px;
                            dt{
                                margin-top: 6px;
                               text-align: left;
                                float: left;
                                width: 66px;
                                color: #838383; 
                                span{
                                    background-color: #c40000;
                                    color: #fff;
                                    border-radius: 2px;
                                    font-weight: 400;
                                    margin: 0 2px;
                                    padding-left: 2px;
                                }
                                b{
                                    background-color: #600;
                                    text-decoration: none;
                                    border-radius: 2px;
                                    margin-left: 2px;
                                    padding: 0 2px;
                                }
                            } 
                            dd{
                                margin-top: 6px;
                                float: left;
                                width: 420px;
                                height: 35px;
                                p{
                                    height: 28px;
                                    display: inline-block;
                                    padding: 0 12px 0 30px;
                                    line-height: 28px;
                                    color: #fff;
                                    font-size: 14px;
                                    background: #c40000 url(../adimg/huabei.png) no-repeat left center;
                                }
                                div{
                                    line-height: 16px;
                                    color: #666;
                                    padding: 3px 10px 3px 30px;
                                    background: url(../styleimg/atten.png) no-repeat left center;
                                    a{
                                        color: #35a;
                                    }
                                    
                                }
                                ul{
                                    li{
                                        color: #CDCDCD;
                                        border: 1px dashed #CDCDCD;
                                        text-align: center;
                                        float: left;
                                        position: relative;
                                        margin: 0 4px 4px 0;
                                        line-height: 20px;
                                        vertical-align: middle;
                                        padding: 1px;
                                        span{
                                            padding: 0px 9px;
                                        }
                                    }
                                }
                             }
                        }
                        .btn{
                            clear: both;
                            padding: 10px 0 0 66px;
                            margin: 10px 0 0;
                            #nowbuy{
                                box-sizing: content-box;
                                width: 178px;
                                background-color: #ffeded;
                                border: 1px solid #c40000;
                                color: #c40000;
                                font-family: 'Microsoft Yahei';
                                height: 38px;
                                line-height: 38px;
                                text-align: center;
                                font-size: 16px;
                            }
                            #addgwc{
                                box-sizing: content-box;
                                width: 178px;
                                background-color: #c40000;
                                border: 1px solid #ffeded;
                                color: #ffeded;
                                font-family: 'Microsoft Yahei';
                                height: 38px;
                                line-height: 38px;
                                text-align: center;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .fw{
                   dt{
                       float: left;
                       text-align: left;
                       width: 66px;
                       line-height: 38px;
                       color: #838383; 
                   } 
                   dd{
                       width: 420px;
                        margin: 10px 0px 0px 0px;
                       float: right;
                       a{
                            color: #666;
                            padding: 0px 20px 5px 0px;
                       }
                   }
                }
            }
	    }
	}
}
.detailbottom{
	margin: 10px auto 0px;
	width: 990px;
	padding-right: 200px;
	img{
		display: block;
	}
}
.footer{
	
}
